<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments :: html_head">
    <title id="pageTitle">database</title>
</head>

<body>
    <div th:replace="fragments :: navbar"/>

    <!-- Content -->
    <div class="container">
        <h1 class="page-header">Datenbankverwaltung</h1>
        <p>von Prozessmodellen</p>
    </div>
    <hr>

    <div class="container">
        <h3>Upload Area </h3>
        <form>
            <div class="form-group row">
              <div class="col-md-6">
                <label>Bezeichnung:</label>
                <input type="text" class="form-control" placeholder="Hier eintragen">
              </div>
              <div class="col-md-6">
                <label>Prozessmodell:</label>
                <select class="form-control">
                    <option value="bpmn">BPMN</option>
                    <option value="flowchart">Flussdiagramm</option>
                    <option value="eEPK">eEPK</option>
                </select>
              </div>
            </div>
        </form>

        <div class="form-group mt-3">
            <label>Datei: </label>
            <input type="file" accept=".xml">


            <p class="help-block">Nur xml-Format zulässig!</p>
        </div>
        <button class="btn btn-primary" onclick="upload()">upload</button>

    </div>
    <hr>

    <div class="container">
        <h3>Datenbankeinträge</h3>
        <table id="models" class="table table-striped table-bordered table-sm">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>file_name</th>
              <th>type</th>
              <th>department</th>
            </tr>
          </thead>
        </table>
    </div>
    <hr>

    <!-- script necessary for bootstrap functions -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <script>
      function upload() {
        confirm("Error: Bitte alle Felder ausfüllen!")
      }
    </script>

    <script>
      $(document).ready( function () {
        var table = $('#models').DataTable({
          "sAjaxSource": "/files/all",
          "sAjaxDataProp": "",
          "aoColumns": [
            { "mData": "id"},
            { "mData": "name" },
            { "mData": "fileName" },
            { "mData": "type.name" },
            { "mData": "department.name" }
          ]
        })
      });
    </script>

</body>
</html>