<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments :: html_head">
    <title id="pageTitle">database</title>
</head>

<body>
    <div th:replace="fragments :: navbar"/>

    <!-- Content -->
    <div class="container">
        <h1 class="page-header">Datenbankverwaltung</h1>
        <p>von Prozessmodellen</p>
    </div>
    <hr>

    <div class="container">
        <h3>Upload Area </h3>
        <form id="upload-file-form">
            <div class="form-group row">
              <div class="col-md-6">
                <label for="bezeichnung">Bezeichnung:</label>
                <input id="bezeichnung" type="text" class="form-control" placeholder="Hier eintragen" name="name">
              </div>
              <div class="col-md-6">
                <label for="type">Prozessmodell:</label>
                <select id="type" class="form-control" name="type">
                </select>
              </div>
            </div>
            <div class="form-group mt-3">
                <label for="file">Datei: </label>
                <input id="file" type="file" accept=".xml">
                <input id="file-content" type="hidden" name="file-content" value="empty">
                <p class="help-block">Nur xml-Format zulässig!</p>
            </div>
            <input type="submit" id="submit" class="btn btn-primary" value="upload">
        </form>

    </div>
    <hr>

    <div class="container">
        <h3>Datenbankeinträge</h3>
        <table id="models" class="table table-striped table-bordered table-sm">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>file_name</th>
              <th>type</th>
              <th>department</th>
            </tr>
          </thead>
        </table>
    </div>
    <hr>

    <!-- script necessary for bootstrap functions -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/custom.js"></script>
</body>
</html>