<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>manual</title>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="about.html">Check Prozessmodelle</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="about.html">Über</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="database.html">Datenbank</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ähnlichkeitsprüfung
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="check2.html">2 Modelle</a></li>
                  <li><a class="dropdown-item" href="checkMore.html">alle Modelle</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="manual.html">Anleitung</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <!-- Content -->
    <div class="container">
        <h1 class="page-header">Anleitung</h1>
        <hr>
            <h5>Hochladen eines Modells in die Datenbank</h5>
            <p>hier steht eine Anleitung...</p>

            <h5>Ähnlichkeitsprüfung</h5>
            <p>hier steht eine Anleitung...</p>
    </div>

</div>
<hr>

<!-- script necessary for bootstrap functions -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>